.nav-bar{
    width: 100%;
    max-width: 1440px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    

    .navlinks{
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
        @include tablet{
            height: 100%;
        }
        li{
            list-style: none;
            a{
                color: $Darkgrayishblue;
                letter-spacing: 1px;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                    color: $Softred;
                }
            }
        }


        @include tablet{
            display: none;
        
            
            li{
                a{
                    font-size: 20px;
                }
            }
        }

    }
    .show{
        @include tablet{
            display: block;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            width: 75vw;
            padding: 8rem 1.5rem;
            background-color: white;
            animation: fadeIn 200ms linear;
            
            
            li{
                margin-bottom: 1rem;
                a{
                    font-size: 20px;
                }
            }
        }
    }


    .image-menu, .image-menu-close{
        display: none;
    }
    .image-menu{
        @include tablet{
            z-index: 10;
            display: block;

        }
    }
    .image-menu-close{
        @include tablet{
            position: fixed;
            right: 1rem;
            z-index: 10;
        }
    }

    .showImage{
        display: none;
        @include tablet{
            display: block;
        }
    }

    .hideImage{
        display: none;
        @include tablet{
            display: none;
        }
    }
    
}


@keyframes fadeIn {
    from{width: 0;}
    to{width: 75vw;}
}

@keyframes fadeOut {
    from{width: 75vw;}
    to{width: 0;}
}


.backgoundColor{
    @include tablet{       
        background-color: rgba(0, 0, 0, 0.199);
    }
}