@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import 'mediaQuarries';
$Softorange: hsl(35, 77%, 62%);
$Softred: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayishblue: hsl(233, 8%, 79%);
$Darkgrayishblue: hsl(236, 13%, 42%);
$Verydarkblue: hsl(240, 100%, 5%);

$paddingBody: 1rem;
$paddingMobile: 1rem;


%displayFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    font-size: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Off-white;
}

.main-container{
    padding: $paddingBody;
    width: 100%;

    
    
    @include tablet{
        padding: $paddingMobile;
    }
}

.opacity{
    &::after{
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $Grayishblue;
        opacity: .5;
    }
}
