@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(36, 100%, 99%);
}

.main-container {
  padding: 1rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-container {
    padding: 1rem;
  }
}

.opacity::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsl(233, 8%, 79%);
  opacity: 0.5;
}

.nav-bar {
  width: 100%;
  max-width: 1080px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.nav-bar .navlinks {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .nav-bar .navlinks {
    height: 100%;
  }
}
.nav-bar .navlinks li {
  list-style: none;
}
.nav-bar .navlinks li a {
  color: hsl(236, 13%, 42%);
  letter-spacing: 1px;
  text-decoration: none;
}
.nav-bar .navlinks li a:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
}
@media screen and (max-width: 768px) {
  .nav-bar .navlinks {
    display: none;
  }
  .nav-bar .navlinks li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar .show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 75vw;
    padding: 8rem 1.5rem;
    background-color: white;
    animation: fadeIn 200ms linear;
  }
  .nav-bar .show li {
    margin-bottom: 1rem;
  }
  .nav-bar .show li a {
    font-size: 20px;
  }
}
.nav-bar .image-menu, .nav-bar .image-menu-close {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-bar .image-menu {
    z-index: 10;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav-bar .image-menu-close {
    position: fixed;
    right: 1rem;
    z-index: 10;
  }
}
.nav-bar .showImage {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-bar .showImage {
    display: block;
  }
}
.nav-bar .hideImage {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-bar .hideImage {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 75vw;
  }
}
@keyframes fadeOut {
  from {
    width: 75vw;
  }
  to {
    width: 0;
  }
}
@media screen and (max-width: 768px) {
  .backgoundColor {
    background-color: rgba(0, 0, 0, 0.199);
  }
}

.main-landing {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "imageContainer imageContainer darkContainer" "imageContainer imageContainer darkContainer" "textContainer textContainer darkContainer";
}
@media screen and (max-width: 1020px) {
  .main-landing {
    grid-template-areas: "imageContainer imageContainer imageContainer" "textContainer textContainer textContainer" "darkContainer darkContainer darkContainer";
  }
}
@media screen and (max-width: 768px) {
  .main-landing {
    grid-template-columns: 1fr;
    grid-template-areas: "imageContainer" "textContainer" "darkContainer";
  }
}
.main-landing .image-container {
  grid-area: imageContainer;
}
.main-landing .image-container picture img {
  width: 100%;
}
.main-landing .text-container {
  grid-area: textContainer;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media screen and (max-width: 768px) {
  .main-landing .text-container {
    flex-direction: column;
  }
}
.main-landing .text-container .text-title-container {
  flex: 1;
}
.main-landing .text-container .text-title-container h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
@media screen and (max-width: 768px) {
  .main-landing .text-container .text-title-container h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
  }
}
.main-landing .text-container .subTitle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-landing .text-container .subTitle-container p {
  color: hsl(236, 13%, 42%);
  letter-spacing: 1px;
  line-height: 1.5rem;
}
.main-landing .text-container .subTitle-container .add {
  padding: 1rem 2rem;
  border: none;
  font-size: 0.8rem;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 1rem;
}
.main-landing .text-container .subTitle-container .add:hover {
  transition: all 500ms linear;
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
}
.main-landing .dark-container {
  grid-area: darkContainer;
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-landing .dark-container .divider-container h2 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 1.5rem;
}
.main-landing .dark-container .divider-container p {
  color: hsl(233, 8%, 79%);
}
.main-landing .dark-container .divider-container .title-darkcon {
  font-weight: 800;
  color: hsl(36, 100%, 99%);
  margin-bottom: 1rem;
}
@media screen and (max-width: 1020px) {
  .main-landing .dark-container .divider-container .title-darkcon {
    margin-top: 1.5rem;
  }
}
.main-landing .dark-container .divider-container .title-darkcon:hover {
  transition: color 200ms ease;
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}
.main-landing .dark-container .divider-container .subtext {
  margin-bottom: 2rem;
}
.main-landing .dark-container .line {
  border-bottom: 1px solid hsl(233, 8%, 79%);
}

.gaming-container {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 1020px) {
  .gaming-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .gaming-container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
  }
}
.gaming-container .content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 450px;
  min-width: 250px;
}
@media screen and (max-width: 768px) {
  .gaming-container .content {
    margin: 0;
  }
}
.gaming-container .content img {
  width: 100px;
}
.gaming-container .content .text-content {
  padding: 0 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.gaming-container .content .text-content .num {
  font-weight: 800;
  font-size: 1.5rem;
  color: hsl(233, 8%, 79%);
}
.gaming-container .content .text-content .title-content {
  font-weight: 700;
}
.gaming-container .content .text-content .text-content-paragraph {
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */